@font-face {
    font-family: "Iosevka Taavi";
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    font-display: fallback;
    src: url("iosevka-taavi-regular-subset.woff2") format("woff2");
    unicode-range: U+21-5F,U+61-7D,U+C4,U+C5,U+D6,U+E4,U+E5,U+F6;
}

@font-face {
    font-family: "Iosevka Taavi";
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    font-display: fallback;
    src: url("iosevka-taavi-bold-subset.woff2") format("woff2");
    unicode-range: U+21-5F,U+61-7D,U+C4,U+C5,U+D6,U+E4,U+E5,U+F6;
}

body {
    font-weight: 400;
    font-family: iosevka taavi web,iosevka taavi,iosevka,iosevka web,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
}

@media screen and (min-width: 768px) {
    body {
        margin: 40px auto 40px 40px;
    }
}

h1, h2, h3 {
    text-transform: uppercase;
}

.term {
    text-transform: none;
}

.bold {
    font-weight: 700;
}

.emphasis {
    font-style: italic;
}

a, a:visited {
    color: #1D4ED8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
    margin-bottom: 8px;
}

label span {
    display: block;
}

label input {
    width: 100%;
    padding: 8px;
}

input, button {
    font-size: 1.5rem;
}

button {
    background: #4338CA;
    color: #FFFFFF;
    border: 2px solid #1E3A8A;
    padding: 4px;
}

.log-snippet {
    border: 1px solid #bcbcbc;
    border-radius: 8px;

    margin-top: 8px;
    margin-bottom: 8px;
}

.log-snippet-meta {
    padding: 2px 16px;
    background-color: #eaeaea;
}

.message, .message-jump-link {
    padding: 2px 16px;
}

.message:nth-child(odd) {
    background-color: #efefef;
}

.message.message-highlight {
    background-color: #bcdede;
}

.message-author:before {
    opacity: 0.5;
    content: "<";
}

.message-author:after {
    opacity: 0.5;
    content: ">";
}

/* colors stolen from the lounge */
.message-author-color-0 { color: #e60082; }
.message-author-color-1 { color: #107ead; }
.message-author-color-2 { color: #a86500; }
.message-author-color-3 { color: #008a3c; }
.message-author-color-4 { color: #e00096; }
.message-author-color-5 { color: #f0000c; }
.message-author-color-6 { color: #000094; }
.message-author-color-7 { color: #006441; }
.message-author-color-8 { color: #00566e; }
.message-author-color-9 { color: #e6006b; }
.message-author-color-10 { color: #0d8766; }
.message-author-color-11 { color: #006b3b; }
.message-author-color-12 { color: #00857e; }
.message-author-color-13 { color: #00465b; }
.message-author-color-14 { color: #eb005a; }
.message-author-color-15 { color: #e62600; }
.message-author-color-16 { color: #0f8546; }
.message-author-color-17 { color: #e60067; }
.message-author-color-18 { color: #eb002b; }
.message-author-color-19 { color: #eb003f; }
.message-author-color-20 { color: #007a56; }
.message-author-color-21 { color: #095092; }
.message-author-color-22 { color: #000bde; }
.message-author-color-23 { color: #008577; }
.message-author-color-24 { color: #00367d; }
.message-author-color-25 { color: #007e9e; }
.message-author-color-26 { color: #006119; }
.message-author-color-27 { color: #007ea8; }
.message-author-color-28 { color: #3c8500; }
.message-author-color-29 { color: #e6007e; }
.message-author-color-30 { color: #c75300; }
.message-author-color-31 { color: #eb0400; }
