{% extends "base.html" %}
{% block content %}
<h1>IRC log search</h1>
<form action="/search" method="GET">
    <label>
        <span>Query</span>
        <input type="text" name="query" placeholder="Search query">
    </label>

    <button type="submit">
        Search!
    </button>
</form>
{% endblock %}

