{% extends "view.html" %}
{% block header %}
<h2>Results for "<span class="term">{{ query }}</span>"</h2>
{% endblock %}
{% block footer %}
<p>
	{% if page != 1 %}
	<a href="{{ url_for('search', query=query, page=page-1) }}">previous page</a>
	{% if has_more_results %}
	&middot;
	{% endif %}
	{% endif %}
	{% if has_more_results %}
	<a href="{{ url_for('search', query=query, page=page+1) }}">next page</a>
	{% endif %}
</p>
{% endblock %}
