{% extends "base.html" %}
{% block content %}
{% block header %}{% endblock %}

<a href="/">(back to search form)</a>

{% for result in results %}
<div class="log-snippet">
    <div class="log-snippet-meta">
        {{ result.match['_source']['channel'] }}
        &ndash;
        {{ result.match['_source']['@timestamp'] | format_date }}
        {% if show_context_link | default(False) %}
        &mdash;
        <a href="/view/{{ result.match['_index'] }}/{{ result.match['_id'] }}#highlight">
            show full context
        </a>
        {% endif %}
    </div>
    {% for message in result.messages %}
        {% if show_next_previous_links | default(False) %}
        {% if loop.index == 1 %}
        <div class="message-jump-link">
            <a href="/view/{{ message['_index'] }}/{{ message['_id'] }}?direction=prev">
                show previous messages
            </a>
        </div>
        {% endif %}
        {% endif %}
        <div class="message {% if highlight and message['_id'] == result.match['_id'] %} message-highlight{% endif %}" {% if highlight and message['_id'] == result.match['_id'] %}id="highlight"{% endif %}>
            <span class="message-timestamp">{{ message['_source']['@timestamp'] | format_timestamp }}</span>
            <span class="message-author message-author-color-{{ message['_source']['nick'] | choose_color }}"
            >{{ message['_source']['nick'] }}</span>
            <span class="message-content">{{ message['_source']['message'] | format_log | safe }}</span>
        </div>
        {% if show_next_previous_links | default(False) %}
        {% if loop.index == result.length %}
        <div class="message-jump-link">
            <a href="/view/{{ message['_index'] }}/{{ message['_id'] }}?direction=next">
                show next messages
            </a>
        </div>
        {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endfor %}

{% block footer %}{% endblock %}

{% endblock %}

